<div class="grid-container">
  <mat-tab-group animationDuration="0ms" #tabGroup>
    <mat-tab label="Information personnelles">
      <mat-card>
        <div style="float: right">
          <button
            mat-button
            mat-raised-button
            cdkFocusInitial
            type="submit"
            (click)="updateForm()"
          >
            Modifier
          </button>
        </div>
        <div id="form-container">
          <dx-form id="form" [formData]="user" [colCount]="2">
            <dxi-item
              itemType="group"
              icon="card"
              caption="Informations système"
            >
              <dxi-item
                dataField="id"
                [editorOptions]="{ disabled: true }"
                [label]="{ text: 'Identifiant' }"
              ></dxi-item>
              <dxi-item
                dataField="firstName"
                [label]="{ text: 'Prénom' }"
              ></dxi-item>
              <dxi-item
                dataField="lastName"
                [label]="{ text: 'Nom de famille' }"
              ></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Données personnelles">
              <dxi-item
                dataField="birthDate"
                editorType="dxDateBox"
                [label]="{ text: 'Date de naissaince' }"
              ></dxi-item>
              <dxi-item itemType="group" caption="Adresse du domicile">
                <dxi-item
                  dataField="address"
                  [label]="{ text: 'Adresse' }"
                ></dxi-item>
                <dxi-item
                  dataField="city"
                  [label]="{ text: 'Ville' }"
                ></dxi-item>
                <dxi-item
                  dataField="state"
                  [label]="{ text: 'État' }"
                ></dxi-item>
                <dxi-item
                  dataField="zipcode"
                  [label]="{ text: 'Code postal' }"
                ></dxi-item>
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Coordonnées">
              <dxi-item itemType="tabbed">
                <dxo-tab-panel-options [deferRendering]="false">
                </dxo-tab-panel-options>
                <dxi-tab title="Téléphone">
                  <dxi-item dataField="phone"></dxi-item>
                </dxi-tab>
                <dxi-tab title="Skype">
                  <dxi-item dataField="skype"></dxi-item>
                </dxi-tab>
                <dxi-tab title="Email">
                  <dxi-item
                    dataField="email"
                    [editorOptions]="{ disabled: true }"
                  ></dxi-item>
                </dxi-tab>
              </dxi-item>
            </dxi-item>
          </dx-form>
        </div>
      </mat-card>
    </mat-tab>

    <mat-tab label="Information sanitaires">
      <mat-card>
        <div style="float: right">
          <button
            mat-button
            mat-raised-button
            cdkFocusInitial
            type="submit"
            (click)="updateHealthForm()"
          >
            Modifier
          </button>
        </div>
        <div id="form-container">
          <dx-form id="form2" [formData]="healthCard" [colCount]="2">
            <dxi-item itemType="group" caption="Allergie sévère">
              <dxi-item
                dataField="anaphylaxis"
                [label]="{ text: 'Anaphylaxie' }"
              >
                <div *dxTemplate>
                  <dx-radio-group
                    [items]="items"
                    [(value)]="
                      healthCard.anaphylaxis === 1 ||
                      healthCard.anaphylaxis === 'oui'
                        ? items[0]
                        : items[1]
                    "
                    layout="horizontal"
                  >
                  </dx-radio-group>
                </div>
              </dxi-item>
              <dxi-item
                dataField="epipen"
                [label]="{ text: 'Épipen ou Twinject ' }"
              >
                <div *dxTemplate>
                  <dx-radio-group
                    [items]="items"
                    [(value)]="
                      healthCard.epipen === 1 ||
                      healthCard.epipen === 'oui'
                        ? items[0]
                        : items[1]
                    "
                    layout="horizontal"
                  >
                  </dx-radio-group>
                </div>
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Général">
              <dxi-item dataField="blood_group" [label]="{ text: 'Groupe sanguain' }">
                <div *dxTemplate>
                  <dx-select-box
                    [dataSource]="bloodType"
                    [(value)]="healthCard.blood_group"
                  ></dx-select-box>
                </div>
              </dxi-item>
              <dxi-item dataField="diabetes" [label]="{ text: 'Diabéte' }">
                <div *dxTemplate>
                  <dx-radio-group
                    [items]="items"
                    [(value)]="
                      healthCard.diabetes === 1 ||
                      healthCard.diabetes === 'oui'
                        ? items[0]
                        : items[1]
                    "
                    layout="horizontal"
                  >
                  </dx-radio-group>
                </div>
              </dxi-item>

              <dxi-item
                dataField="organ_donor"
                [label]="{ text: 'Donneur d\'organne ' }"
              >
                <div *dxTemplate>
                  <dx-radio-group
                    [items]="items"
                    [(value)]="
                      healthCard.organ_donor === 1 ||
                      healthCard.organ_donor === 'oui'
                        ? items[0]
                        : items[1]
                    "
                    layout="horizontal"
                  >
                  </dx-radio-group>
                </div>
              </dxi-item>
              <dxi-item
                dataField="family_doctor"
                [label]="{ text: 'Médecin de famille' }"
              >
                <div *dxTemplate>
                  <dx-radio-group
                    [items]="items"
                    [(value)]="
                      healthCard.family_doctor === 1 ||
                      healthCard.family_doctor === 'oui'
                        ? items[0]
                        : items[1]
                    "
                    layout="horizontal"
                  >
                  </dx-radio-group>
                </div>
              </dxi-item>
              <dxi-item dataField="doctor" [label]="{ text: 'Si oui ' }">
                <dx-text-box [(value)]="healthCard.doctor"></dx-text-box>
              </dxi-item>
            </dxi-item>
          </dx-form>
        </div>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
