<div id="mapid" ></div>
<div class="grid-container">
  <div class="two-cards">
    <div class="one-card">
      <mat-card
        class="full-grid-container"
        (click)="
          openUrgenceDialog({
            type: 'police',
            help_department: 'Police',
            typeUrgence: 'police'
          })
        "
      >
        <div class="example-button-container">
          <button
            mat-fab
            disabled
            style="background-color: #337ab7; margin-bottom: 10px"
          >
            <mat-icon style="color: #fff">gavel</mat-icon>
          </button>
        </div>
        <h2 style="text-align: center">Police</h2>
      </mat-card>
    </div>
    <div class="one-card" style="margin-right: 0">
      <mat-card
        class="full-grid-container"
        (click)="
          openUrgenceDialog({
            type: 'ambulance',
            help_department: 'Ambulance',
            typeUrgence: 'ambulence'
          })
        "
      >
        <div class="example-button-container">
          <button
            mat-fab
            disabled
            style="background-color: #ff4081; margin-bottom: 10px"
          >
            <mat-icon style="color: #fff">favorite</mat-icon>
          </button>
        </div>
        <h2 style="text-align: center">Ambulance</h2>
      </mat-card>
    </div>
  </div>
  <div class="center-card">
    <mat-card
      class="full-grid-container"
      (click)="
        openUrgenceDialog({
          type: 'all',
          help_department: 'Tous les moyens d\'urgence',
          typeUrgence: 'all'
        })
      "
      >>
      <div class="example-button-container">
        <button
          mat-fab
          disabled
          style="background-color: #ff1111; margin-bottom: 10px"
        >
          <mat-icon style="color: #fff">help</mat-icon>
        </button>
      </div>
      <h2 style="text-align: center">Tous les moyens d'urgence</h2>
    </mat-card>
  </div>
  <div class="two-cards">
    <div class="one-card">
      <mat-card
        class="full-grid-container"
        (click)="
          openUrgenceDialog({
            type: 'fire',
            help_department: 'Pompier',
            typeUrgence: 'fire_station'
          })
        "
      >
        <div class="example-button-container">
          <button
            mat-fab
            disabled
            style="background-color: #777777; margin-bottom: 10px"
          >
            <mat-icon style="color: #fff">accessibility</mat-icon>
          </button>
        </div>
        <h2 style="text-align: center">Pompier</h2>
      </mat-card>
    </div>
    <div class="one-card" style="margin-right: 0">
      <mat-card
        class="full-grid-container"
        (click)="
          openUrgenceDialog({
            type: 'samu',
            help_department: 'SAMU',
            typeUrgence: 'samu'
          })
        "
      >
        <div class="example-button-container">
          <button
            mat-fab
            disabled
            style="background-color: #4cae4c; margin-bottom: 10px"
          >
            <mat-icon style="color: #fff">info</mat-icon>
          </button>
        </div>
        <h2 style="text-align: center">SAMU</h2>
      </mat-card>
    </div>
  </div>
</div>
