.grid-container {
  min-height: 90vh;
  margin: 20px;
}
.full-grid-container {
  min-height: 30vh;
  padding: 25px !important;
}
.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
:host ::ng-deep .full-grid-container {
  min-height: 20vh !important;
}

.two-cards {
  display: flex;
  height: 25vh;
  margin-bottom: 20px;
}

.one-card {
  width: 50%;
  margin-right: 20px;
  cursor: pointer;
}
.center-card {
  height: 30vh;
  cursor: pointer;
}
#mapid {
  z-index: 0 !important;
  position: absolute;
}
