<div class="grid-container">
  <mat-tab-group animationDuration="0ms" #tabGroup>
    <mat-tab label="Groupe">
      <mat-card>
        <form novalidate="" (ngSubmit)="onSubmit()" #addMemberForm>
          <div>
            <div class="frigo-form-container">
              <div
                class="frigo-form-container"
                *ngFor="let member of members; let i = index"
              >
                <div class="border">
                  <div class="column">
                    <div class="field">
                      <div class="label">Nom membre {{ i + 1 }}</div>
                      <div class="value">
                        <dx-text-box
                          [(value)]="member.name"
                          [placeholder]="'Nom membre ' + (i + 1)"
                        ></dx-text-box>
                      </div>
                      <dx-button
                        style="width: 36px"
                        icon="trash"
                        (onClick)="removeMember(member.phone_number, i)"
                      >
                      </dx-button>
                    </div>

                    <div class="field">
                      <div class="label">Telephone {{ i + 1 }}</div>
                      <div class="value">
                        <dx-text-box
                          [(value)]="member.phone_number"
                          placeholder="** *** ***"
                        >
                          <dx-validator>
                            <dxi-validation-rule
                              type="custom"
                              [reevaluate]="true"
                              [validationCallback]="validationRulesPhone"
                              message="Format non valide"
                            ></dxi-validation-rule>
                          </dx-validator>
                        </dx-text-box>
                      </div>
                      <dx-button
                        style="width: 36px"
                        icon="add"
                        (onClick)="addNewMember(member)"
                      >
                      </dx-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <mat-card-actions style="height: 50px">
          <div style="float: right">
            <button
              mat-button
              mat-raised-button
              (click)="addMember()"
              type="button"
            >
              Ajouter Membre
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab label="Message d'urgence">
      <mat-card>
        <dx-text-area [height]="190" [(value)]="message">
        </dx-text-area>
        <mat-card-actions style="height: 50px">
          <div style="float: right">
            <button
              mat-button
              mat-raised-button
              (click)="updateMessage()"
              type="button"
            >
              Modifier message d'urgence
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
